body {
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #1d98d4, #0f4c75);
  color: white;
  margin: 0;
}

.container {
  width: 350px;
  background: white;
  color: black;
  padding: 25px;
  margin: 80px auto;
  border-radius: 10px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #1d98d4;
  color: white;
  border: none;
  cursor: pointer;
}
